{% extends 'base.html.twig' %}

{% block title %}Familles
{% endblock %}

{% block monTitre %}Page familles

{% endblock %}
{% block body %}
	<div class=" m-2">
		{% for famille in familles %}
			<h2>
				<a href="{{path("afficher_famille",{"id" : famille.id})}}" class="text-success  text-decoration-none">{{famille.libelle}}</a>
			</h2>
			<div class="border-bottom border-info ">{{famille.description}}</div><br>

			<div class="row ">
				{% for animal in famille.animaux %}
					<div class="col-6 text-center">
						<div class="row">
							<div class="col-12 clod-md-6 clo-lg-2 ">
								<img src="{{asset("images/" ~ animal.nom ~ ".png")}}" alt="img" class="img-fluid">
							</div>
							<div class="col text-center ">
								<a href="{{path('afficher_animal',{'id' : animal.id})}} " >
									<h3 >{{animal.nom}}</h3>
								</a>
								<div>
									{{animal.description}}
								</div>
								<div>
									<a href="{{path("afficher_famille",{"id" : famille.id})}}" class="btn btn-info">{{animal.famille.libelle}}</a>
								</div>
									<div class="m-2">
								{% for continentAnimal in animal.continents %}
									
										<a href="{{path('afficher_continent',{'id' : continentAnimal.id})}}" class="btn btn-danger mb-2">{{continentAnimal.libelle}}</a>
									
								{% endfor %}
							</div>
							</div>
						</div>
					</div>

				{% endfor %}
			</div><br>
		{% endfor %}
	</div>
{% endblock %}

